:root {

--c_light: #fafafa;
--c_dark: black;
--c_theme-primary: #000051;
--c_theme-light: #304ffe;
--c_yellow-light: #fffde7;
--c_pink-light: #fce4ec;
--c_blue-light: #e0f7fa;
--c_green-light: #f9fbe7;
--c_orange: #FF5000;

}