#InfoBoard {
	height: 100%;
}

.tutorial {
	display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	height: 100%;
		max-width: 85%;
	margin: 0 auto;

	.top {
		.indication {
			font-size: 1.5vw;
			text-align: center;
			width: 100%;
			padding: 40px 0;
		}
	}

	.image {
		padding: 16px 0;
		text-align: center;
		img {
			max-width: 45%;
		}
	}
	.steps {
		text-align: center;
		font-size: 2vw;
		font-weight: 700;

		.step {
			&:not(:last-child) {
				&:after {
					content: '>';
					margin: 0 12px 0 16px;
				}
			}
		}
	}
}